body{
	background: #1A1A1A;
	background-image: url("fondo.jpg");
	width: 2000px;
	height: 920px;
	font-family: 'Archivo Black', sans-serif;
}

#titulo{
	color: white;
	font-size: 60px ;
	padding-top: 150px;
	padding-right: 80px;
}

#boton{
	margin-top: 220px ;
}